body{
    
    
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 50px;
   
   

    background-position-x: right; 
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url("https://uploads.weconnect.com/29e561b2e568e0121db152316a326c6a796acbda/mhia90756e7b5blkmvy1zdro14l.png");
    background-color:rgb(207, 222, 223);


    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: normal;
    }
    
